:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-background-color: #ffffff;
  --dark-background-color: #2f303a;
  --light-background-color: #f5f4fa;
  --dark-logo-color: #000000;
  --border-color: #eeeeee;
  --additional-accent-color: #188ce8;
  --border-header-color: #ececec;
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}

/* Components */
body {
  font-family: var(--primary-font);
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.link,
.logo {
  text-decoration: none;
}

.button {
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding: 94px 0;
  text-align: center;
}

.section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.header {
  border-bottom: 1px solid var(--border-header-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*  Nav Bar */

.main-nav {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.web-logo {
  color: var(--accent-color);
}

.nav-logo,
.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  color: var(--dark-logo-color);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.nav-logo:hover,
.footer-logo:hover {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
  margin-left: 93px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
}

/* псевдоселектор сусіда */
.nav-item + .nav-item {
  margin-left: 50px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link,
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Contacts */

.contacts-link {
  color: var(--primary-text-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts-item + .contacts-item {
  margin-left: 50px;
}

/* Title */

.hero {
  padding: 200px 0;

  text-align: center;
  background-color: var(--dark-background-color);
}

.hero-title {
  margin: 0 auto 30px;
  width: 696px;

  color: var(--primary-background-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  min-width: 216px;
  padding: 10px 32px;

  background-color: var(--additional-accent-color);
  color: var(--primary-background-color);
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.hero-button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background-color: var(--accent-color);
}

/* Features +  Description */

.features-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features-list,
.description-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features-item {
  width: 270px;
  text-align: left;
}

.description {
  padding-top: 0;
}

/* Team */

.team {
  background-color: var(--light-background-color);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-element {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  background-color: var(--primary-background-color);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}

.team-text-item {
  padding: 30px 0;
}

.team-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--dark-background-color);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--primary-background-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.address {
  color: var(--primary-background-color);
}

.contact {
  color: #ffffff99;
}

/* =====================Styles for portfolio.html ================*/

/* Filter */

.filter {
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
  justify-content: center;
}

.filter-button {
  min-width: 73px;
  padding: 6px 22px;

  background-color: var(--light-background-color);
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
}

.filter-button:hover,
.filter-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  color: var(--primary-background-color);
  background-color: var(--accent-color);
}

/* Examples */

.examples-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.examples-item {
  display: flex;
}

.examples-content {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 20px 24px;
  text-align: left;
}

.examples-title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
